.ToastNotification {
  border: 1px solid;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 32px;
  width: 100%;
}

.ToastNotification button {
  background: transparent;
  border: 0;
  margin: 8px 8px 8px 0;
  width: 32px;
}

.ToastNotification span {
  margin: 8px 0 8px 8px;
}

.ToastNotification--danger {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
}

.ToastNotification--success {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
}
