.NavBar {
  align-items: center;
  background-color: rgb(230, 236, 240);
  border: 1px solid rgb(204, 214, 221);
  display: flex;
  flex-direction: column;
  padding: 8px 0;
  width: 100%;
}

.NavBar img {
  border: 1px solid rgb(204, 214, 221);
}
