/* BEM */

footer {
  align-items: center;
  color: #721c24;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  margin-bottom: 8px;
}

footer.healthy {
  color: #155724;
}

footer a {
  color: rgb(29, 161, 242);
  font-weight: bold;
  text-decoration: none;
}

footer ul {
  display: flex;
}

footer li {
  margin: 0 8px;
}

footer p {
  margin: 0 0 4px 0;
}
