@import url('https://fonts.googleapis.com/css?family=Leckerli+One&display=swap');

article,
button {
  color: rgb(20, 23, 26);
}

button,
input,
textarea {
  background-color: rgb(230, 236, 240);
  border: 1px solid rgb(204, 214, 221);
  font-size: 16px;
}

/* --- */

article {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px;
}

body {
  background-color: rgb(29, 161, 242, 0.125);
}

button:disabled {
  background-color: rgb(204, 214, 221);
}

footer {
  color: red;
  font-size: 12px;
  margin-bottom: 8px;
}

footer.healthy {
  color: green;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form > * {
  margin-bottom: 32px;
}

h1 {
  color: rgb(20, 23, 26);
  font-family: 'Leckerli One', cursive;
  font-size: 40px;
  margin: 16px 0;
}

li {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
