@import url('https://fonts.googleapis.com/css?family=Leckerli+One&display=swap');

article,
button {
  color: rgb(20, 23, 26);
}

button,
input,
textarea {
  background-color: rgb(230, 236, 240);
  border: 1px solid rgb(204, 214, 221);
  font-size: 16px;
}

/* --- */

article {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 768px;
  padding: 8px;
  width: 100%;
}

body {
  background-color: rgb(29, 161, 242, 0.125);
}

button {
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  width: 128px;
}

footer {
  color: red;
  font-size: 12px;
  margin-bottom: 8px;
}

footer.healthy {
  color: green;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form > * {
  margin-bottom: 32px;
}

h1 {
  color: rgb(20, 23, 26);
  font-family: 'Leckerli One', cursive;
  font-size: 40px;
  margin: 16px 0;
}

li {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  width: 100%;
}

textarea {
  border-radius: 4px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.App__button {
  align-self: center;
  background-color: rgb(29, 161, 242);
  color: white;
}

.App__button--disabled {
  background-color: rgb(204, 214, 221);
  color: rgb(20, 23, 26);
  cursor: default;
}

.App__linefeed {
  text-align: center;
}

.App__small {
  align-items: center;
  display: flex;
}
