article {
  align-items: center;
  background-color: darkslateblue;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin-bottom: 32px;
}

li {
  margin-bottom: 32px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
