@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Oleo+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
  --tweries-black-text: #050505;
  --tweries-blue: #1da1f2;
  --tweries-blue-button: #8ccef7;
  --tweries-blue-white: #f8f8ff;
  --tweries-dark-blue: #0073bf;
  --tweries-dark-blue-button: rgba(0, 115, 191, 0.7);
  --tweries-leckerli-one: 'Leckerli One', cursive;
  --tweries-off-white: #fbfbfb;
}

body {
  color: var(--tweries-black-text);
  font-family: 'Open Sans', sans-serif;
}

.tweries-background-color-blue-button {
  background-color: var(--tweries-blue-button);
}

.tweries-background-color-blue-button:hover {
  background-color: var(--tweries-dark-blue-button);
  color: var(--tweries-off-white);
}

.tweries-background-color-blue-white {
  background-color: var(--tweries-blue-white);
}

.tweries-background-color-off-white {
  background-color: var(--tweries-off-white);
}

.tweries-border {
  border: 1px solid #bdbdbd;
}

.tweries-border-color {
  border-color: var(--tweries-dark-blue);
}

.tweries-color-black {
  color: var(--tweries-black-text);
}

.tweries-color-blue {
  color: var(--tweries-blue);
}

.tweries-color-dark-blue {
  color: var(--tweries-dark-blue);
}

.tweries-font-family {
  font-family: 'Oleo Script', cursive;
}

/* tooltip */

.tooltip + .tooltip-text {
  position: absolute;
  text-align: center;
  visibility: hidden;
  z-index: 100;
}

.tooltip:hover + .tooltip-text {
  background-color: var(--tweries-blue-white);
  visibility: visible;
}
